:root {
  --primary-orange: #ff8c00;
  --secondary-orange: #ffe8e0;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Inter', Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  display: flex;
  background-color: white;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

a.current {
  color: var(--primary-orange);
}

.title {
  color: var(--primary-orange);
  font-weight: 800;
  font-size: 20px;
}

.user-actions {
  padding-top: 20px;
}

.role-name {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
}

.logout {
  width: 100px;
  height: 30px;
  border: 1px solid var(--primary-orange);
  background-color: var(--secondary-orange);
  color: var(--primary-orange);
  font-weight: 400;
  cursor: pointer;
}

.links {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.cart-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-quantity {
  display: block;
  background-color: var(--primary-orange);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  margin-left: 5px;
}

.user {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

.users-container {
  margin: 50px;
}

.products-container {
  margin: 50px;
}

.single-product-container {
  display: flex;
}

.product-info {
  margin-left: 20px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.product-header>* {
  font-weight: bold;
  width: 200px;
}

.product {
  margin-top: 5px;
  background-color: white;
  padding: 20px;
}

.product-attributes {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

.product-attributes>* {
  width: 200px;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buy-button-small {
  color: var(--primary-orange);
  border: 1px solid var(--primary-orange);
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.buy-button {
  color: var(--primary-orange);
  border: var(--primary-orange) 1px solid;
  background-color: var(--secondary-orange);
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 30px;
}

.edit-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

.edit-container>* {
  width: 200px;
}


.new-product {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

.new-product>input {
  padding: 10px;
  margin: 10px 0;
}

.new-product>button {
  padding: 10px;
  margin: 10px 0;
  background-color: #ccc;
  cursor: pointer;
}

.notification {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  font-size: 14px;
}

.notification.success {
  background-color: green;
}

.notification.error {
  background-color: red;
}

.form-container {
  display: flex;
  justify-content: center;

  height: 1000px;
}

.form-container>form {
  height: 300px;
  margin: auto 0;
}

.username-input {
  margin: 10px 0;
  padding: 10px;
}

.password-input {
  margin: 10px 0;
  padding: 10px;
}

.form-main-action {
  margin: 10px 0;
  padding: 10px;
  background-color: var(--primary-orange);
  color: white;
  border: none;
  cursor: pointer;
}